body{
    background-image: linear-gradient(to right, #a6c1ee, #8bd6db);
}

.container{
    width:1500px;
    height: 930px;
}
.hello{
    width: 1500px;
    height:900px;
    font-size: 1800%;
    color: black;
}
